.gallery {

    perspective: 1000px;
    position: relative;

    &__item {

        min-width: 250px;
        margin: 0 -75px 0 0;
        height: 160px;
        position: relative;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -webkit-user-drag: none;
        -webkit-user-select: none;

    }

}
