doctype html

html

    head

        title Banner
        //- link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet" href="./index.css")

    body

        .decorative

            .banner

                header.banner__header

                    .banner__logo

                    .banner__title

                        h1.banner__title-text Banner title

                        .rate.banner__rate.row(data-rate="4")

                        h2.banner__headline Banner headline

                        p.banner__description Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                .gallery.banner__gallery

                    .gallery__item.gallery__item--left
                    .gallery__item.gallery__item--current
                    .gallery__item.gallery__item--right

                .gallery__controller

        script(src="index.js")
