doctype html

html

    head

        title Banner

        link(rel="stylesheet" href="./index.css")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body

        .banner#banner

            .startAnimation#startAnimation

                .backgroundAnimation
                    .banner__logo.logoAnimation

            header.banner__header

                a(href="#").banner__button Install

                .banner__logo

                .banner__title

                    h1.banner__title-text Banner title

                        .row

                            .rate.banner__rate.row(data-rate="4")

                            .banner__rate-text (12345)

                    h2.banner__headline Banner headline

                    p.banner__description Lorem ipsum dolor sit amet, consectetur adipisicing elit.

            .gallery#gallery

                #slider.banner__gallery

            .controller#controlerContainer

        script(src="index.js")
