doctype html

html

    head

        title Banner

        link(rel="stylesheet" href="./index.css")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body

        #debug

        .banner#banner

            header.banner__header

                .banner__logo

                .banner__title

                    h1.banner__title-text Banner title

                    .rate.banner__rate.row(data-rate="4")

                    h2.banner__headline Banner headline

                    p.banner__description Lorem ipsum dolor sit amet, consectetur adipisicing elit.

            .gallery

                #slider.banner__gallery

                    //- .gallery__item
                    //- .gallery__item
                    //- .gallery__item
                    //- .gallery__item
                    //- .gallery__item
                    //- .gallery__item

            .gallery__controller

        script(src="index.js")
