doctype html

html

    head

        title Banner

        link(rel="stylesheet" href="./index.css")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body

        .banner#banner

            header.banner__header

                a(href="#").banner__button Install

                .banner__logo

                .banner__title

                    h1.banner__title-text App name

                        .row

                            #rate.banner__rate.row(data-rate="4")

                                svg.star(fill='#694E00' xmlns='http://www.w3.org/2000/svg', height='17', viewbox='0 0 18 17.1', width='18')
                                    path(d='M9 13.7 14.6 17.1 13.1 10.8 18 6.5 11.5 6 9 0 6.5 6 0 6.5 4.9 10.8 3.4 17.1Z')

                                svg.star(fill='#694E00' xmlns='http://www.w3.org/2000/svg', height='17', viewbox='0 0 18 17.1', width='18')
                                    path(d='M9 13.7 14.6 17.1 13.1 10.8 18 6.5 11.5 6 9 0 6.5 6 0 6.5 4.9 10.8 3.4 17.1Z')

                                svg.star(fill='#694E00' xmlns='http://www.w3.org/2000/svg', height='17', viewbox='0 0 18 17.1', width='18')
                                    path(d='M9 13.7 14.6 17.1 13.1 10.8 18 6.5 11.5 6 9 0 6.5 6 0 6.5 4.9 10.8 3.4 17.1Z')

                                svg.star(fill='#694E00' xmlns='http://www.w3.org/2000/svg', height='17', viewbox='0 0 18 17.1', width='18')
                                    path(d='M9 13.7 14.6 17.1 13.1 10.8 18 6.5 11.5 6 9 0 6.5 6 0 6.5 4.9 10.8 3.4 17.1Z')

                                svg.star(fill='#694E00' xmlns='http://www.w3.org/2000/svg', height='17', viewbox='0 0 18 17.1', width='18')
                                    path(d='M9 13.7 14.6 17.1 13.1 10.8 18 6.5 11.5 6 9 0 6.5 6 0 6.5 4.9 10.8 3.4 17.1Z')

                            .banner__rate-text (12345)

                    h2.banner__headline Headline Text

                    p.banner__description Description Text Description Text Description

            .gallery#gallery

                #slider.banner__gallery

            .controller#controlerContainer

        script(src="index.js")
